<div class="container responsible-gaming-uk-component">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">{{'ResponsibleGamingUkComponent.TEXT_MAIN_HEADER' | translate}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p appTranslate="ResponsibleGamingUkComponent.P_1"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_2"></p>
      <h2>{{'ResponsibleGamingUkComponent.TEXT_AGE_VERIFY' | translate}}</h2>
      <p appTranslate="ResponsibleGamingUkComponent.P_3"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_4"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_5"></p>
      <h2>{{'ResponsibleGamingUkComponent.TEXT_DEPOSIT_LIMITS' | translate}}</h2>
      <p appTranslate="ResponsibleGamingUkComponent.P_6"></p>
      <h2>{{'ResponsibleGamingUkComponent.TEXT_TAKE_BREAK' | translate}}</h2>
      <p appTranslate="ResponsibleGamingUkComponent.P_7"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_8"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_9"></p>
      <h2>{{'ResponsibleGamingUkComponent.TEXT_SELF_ASSESSMENT' | translate}}</h2>
      <ol>
        <li appTranslate="ResponsibleGamingUkComponent.LI_1"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_2"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_3"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_4"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_5"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_6"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_7"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_8"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_9"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_10"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_11"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_12"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_13"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_14"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_15"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_16"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_17"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_18"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_19"></li>
        <li appTranslate="ResponsibleGamingUkComponent.LI_20"></li>
      </ol>
      <h2>{{'ResponsibleGamingUkComponent.TEXT_SELF_EXCLUSION' | translate}}</h2>
      <p appTranslate="ResponsibleGamingUkComponent.P_10"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_11"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_12"></p>
      <p appTranslate="ResponsibleGamingUkComponent.P_13"></p>
    </div>
  </div>
</div>
