<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="h3">{{'EnterPasswordComponent.TEXT_MAIN_HEADER' | translate}}</div>
      <p [innerHTML]="'EnterPasswordComponent.TEMPLATE_CHOOSE_PASS' | translate: {param: passwordValidatorConfig.minLength}"></p>

      <form [formGroup]="enterPassword" (ngSubmit)="onSubmit()">
        <div
          class="form-row {{enterPassword.controls['enterNewPassword'].touched && enterPassword.controls['enterNewPassword'].invalid ? 'has-error' : ''}}">
          <div class="input-wr">
            <input formControlName="enterNewPassword" type="password" id="enterNewPassword" class="form-control"
                   placeholder="{{'EnterPasswordComponent.PLACEHOLDER_NEW_PASS' | translate}}*" #enterNewPassword>
            <div id="show_enterNewPassword" (click)="showPassword(enterNewPassword)"></div>
            <div class="icon-tooltip icon-error"
                 *ngIf="enterPassword.controls['enterNewPassword'].touched && enterPassword.controls['enterNewPassword'].invalid">
              <span>!</span></div>
            <div class="tooltip-container error"
                 *ngIf="enterPassword.controls['enterNewPassword'].touched && enterPassword.controls['enterNewPassword'].invalid">
              <div class="tooltip-body">
                <p>{{ 'ERRORS.invalid_password' | translate }}</p>
              </div>
            </div>
          </div>

        </div>
        <div class="form-row {{(enterPassword.controls['enterRepeatPassword'].touched  && (enterPassword.controls['enterRepeatPassword'].invalid || enterPassword.hasError('passwordsEqual'))) ? 'has-error' : ''}}">
          <div class="input-wr">
            <input formControlName="enterRepeatPassword" type="password" id="enterRepeatPassword" class="form-control"
                   placeholder="Repeat Password*" #enterRepeatPassword>
            <div id="show_enterRepeatPassword" (click)="showPassword(enterRepeatPassword)"></div>
            <div class="icon-tooltip icon-error" *ngIf="enterPassword.controls['enterRepeatPassword'].touched  && (enterPassword.controls['enterRepeatPassword'].invalid || enterPassword.hasError('passwordsEqual'))">
              <span>!</span></div>
            <div class="tooltip-container error" *ngIf="enterPassword.controls['enterRepeatPassword'].touched  && (enterPassword.controls['enterRepeatPassword'].invalid || enterPassword.hasError('passwordsEqual'))">
              <div class="tooltip-body">
                <p>{{ 'ERRORS.passwords_dont_match' | translate }}</p>
              </div>
            </div>

          </div>
        </div>
        <p class="sub-little-text error-message">{{passErrorMsg}}</p>
        <div class="row form-row flex-items-xs-right submit">
          <button type="submit" class="col-xs-12 col-lg-3 bt green">
            {{'EnterPasswordComponent.BUTTON_SUBMIT' | translate}}
          </button>
        </div>
        <p class="sub-little-text success-message">{{passSuccessMsg}}</p>
      </form>
    </div>

    <div class="col-xs-12 col-md-4 aside reset-pass-aside">
      <app-need-help></app-need-help>
    </div>
  </div>
</div>

<app-password-update-successfully></app-password-update-successfully>
