@import '../../../../../../scss/vars';

.error-message {
  color: $RED;
}

.success-message {
  color: $GREEN;
}

p {
  color: $primary;
  margin-bottom: 0.5rem;
}

.h3 {
  color: $primary;
  font-size: $LARGE;

  + p {
    font-family: $CONTENT;
  }
}

.aside {
  padding: 0;
}

button[type=submit] {
  height: 46px;
}

.submit {
  margin-left: 0;
  margin-right: 0;
}

.sub-little-text {
  font-size: $small;
}

/* MOBILE */
@media (max-width: 767px) {
  .h3 {
    text-align: center;
    padding: 1rem 0 0.5rem;

    + p {
      font-size: $small;
    }
  }
  form {
    padding: 1rem 0 0;
  }
}

/* DESKTOP */
@media (min-width: 768px) {
  .h3 {
    margin-bottom: 35px;
  }
  form {
    max-width: 390px;
  }
  .email {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .container {
    .row {
      height: 100%;
    }
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .icon-tooltip ~ .tooltip-container.error {
    display: block;
    position: static;
  }

  .error .tooltip-body {
    background: none;
    box-shadow: none;
    border: 0;
    padding: 0;
  }

  .input-wr .tooltip-body {
    position: static;
  }

  .tooltip-container {
    margin-top: 5px;
  }

  .has-error .tooltip-body,
  .has-error .tooltip-body p {
    color: #e51e12;
  }

  .input-wr .tooltip-body::before,
  .input-wr .tooltip-body::after {
    display: none;
  }
}
