.signin-from-forbidden-country-component {
  .modal-body {
    padding: 15px 19px;
  }

  .modal-title {
    text-transform: uppercase;
  }

  .icon {
    width: 70px;
    margin: 0 auto 20px;
    display: block;
  }
}
