@import '../../../../../../../scss/vars';

:host {

  .list {
    margin-top: -10px;
  }

  .item {
    max-width: 205px;
  }

  @media (max-width: 767px) {
    .list {
      margin-top: -10px;
    }

    .item {
      max-width: 50%;
      padding-top: 40px;
    }
  }

  @media (min-width: 568px) and (max-width: 767px) {
    .list {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 768px) {
    .list {
      margin-top: 40px;
    }

    .item {
      min-width: 235px;
      padding-top: 20px;
    }
  }

  @media (min-width: 992px) {
    .item {
      min-width: 205px;
    }
  }
}
