<div class="forgot-password-component" id="forgot-password-component">
  <div class="modal-body">
    <p>
      {{'ForgotPasswordComponent.TEXT_LET_SEND_EMAIL' | translate}}
    </p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-row"
        [ngClass]="{'has-error': forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].invalid || isErrorField('email')}">
        <div class="input-wr">
          <input
            formControlName="email"
            placeholder="Email*"
            type="text"
            id="fp-email">

          <div class="icon-tooltip icon-error" *ngIf="isErrorField('email')"><span>!</span></div>
          <div class="tooltip-container error" *ngIf="isErrorField('email')">
            <div class="tooltip-body">
              <p>{{ errorObj.email.message }}</p>
            </div>
          </div>
          <div class="icon-tooltip icon-error"
               *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].invalid">
            <span>!</span></div>
          <div class="tooltip-container error"
               *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].invalid">
            <div class="tooltip-body">
              <p>{{ 'ERRORS.email$' | translate }}</p>
            </div>
          </div>

        </div>
      </div>
      <button type="submit" class="bt green send-btn">{{'ForgotPasswordComponent.BUTTON_SEND' | translate}}</button>
    </form>
  </div>
</div>
