@import '../../../../../scss/vars';

.forgot-password-component {
  .modal-body {
    border-top: 0;
    padding: 15px 22px 50px;
    max-width: 100%;
    min-height: 220px;
  }

  .bt {
    height: 44px;
    width: 112px;
    margin-left: 3px;
    font-size: 18px;
  }

  .form-row {
    max-width: 293px;
    width: 100%;
  }

  form {
    display: flex;
    justify-content: space-between;
    .send-btn {

    }
  }

  .modal-body p + form {
    margin-top: 30px;
  }

  input {
    text-overflow: ellipsis;
  }

  .forgot-pass {
    margin-top: 15px;
  }
}
