<div class="container cookies-policy-component">
  <h1 class="title-cookies" itemprop="name">Cookies Policy</h1>

  <div class="row">
    <div class="col-sm-12 col-lg-8 list-items">
      <!--<p>Last Revised 12 March 2017</p>-->
      <div class="item">
        <p class="item-title">Introduction</p>
        <div class="item-body">
          <p>
            When you visit or access our websites or applications operated by us, or when you interact or engage with
            our content (“<strong>Services</strong>”), we use (and authorize third parties to use) web beacons, cookies,
            pixel tags, scripts, tags, API and other Information ("<strong>Tracking Information</strong>").
          </p>
          <p>
            The Tracking Information allow us to automatically collect information about you and your online behavior,
            as well as your device (for example your computer or mobile device), in order to enhance your navigation on
            our Services, improve our Services performance and customize your experience on our Services. We also use
            this information to collect statistics about the usage of our Services, perform analytics, deliver content
            which is tailored to your interests and administer services to our users, advertisers, publishers, customers
            and partners.
          </p>
          <p>
            We also allow third parties to collect information about you through Tracking service.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">What are cookies?</p>
        <div class="item-body">
          <p>
            Cookies are small text files (composed only of letters and numbers) that a web server places on your
            computer or mobile device when you visit a webpage. When used, the cookie can help make our Services more
            user-friendly, for example by remembering your language preferences and settings. You can find more
            information about cookies at
            <a href="http://www.allaboutcookies.org/" target="_blank">www.allaboutcookies.org</a>.
          </p>
          <p>
            Cookies are widely used in order to make websites work in an efficient way. The use of cookies allows you to
            navigate between pages efficiently. Cookies remember your preferences, and make the interaction between you
            and the Services smoother and more efficient. Cookies are also used to help ensure that the advertisements
            you see online are relevant to you and your interests.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Storing Tracking Information</p>
        <div class="item-body">
          <p>
            We store Tracking Information once site is visited – we call them "First Visit Tracking". In addition,
            Tracking Information is stored by other third parties (analytics service providers, business partners and
            advertisers) that run as part of our site – these are called "Third Party Tracking Information"
          </p>
          <p>
            Both types of Tracking Information may be stored either for the duration of your visit on our Services or
            for repeat visits.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">What types of Tracking Information do we use?</p>
        <div class="item-body">
          <p>
            There are the main types of Tracking Information:
          </p>
          <ol type="1">
            <li>
              <p><strong>Strictly Necessary Tracking Information</strong></p>
              <p>
                Тhis Tracking Information is essential to enable you to login, navigate around and use the features of
                our Services, or to provide a service requested by you (such as your username). We do not need to obtain
                your consent in order to use this Tracking Information . This Tracking Information can be used for
                security and integrity reasons - for example to detect violation of our policies and for support or
                security features.
              </p>
            </li>
            <li>
              <p>
                <strong>Functionality Tracking Information</strong> -
                This Tracking Information allows our Services to remember choices you make (such as your language) and
                provide enhanced and personalized features. For example, this Tracking Information is used for
                authentication (to remember when you are logged-in) and supports other features of our Services.
              </p>
            </li>
            <li>
              <p>
                <strong>Performance Tracking Information</strong> -
                This Tracking Information collects information about your online activity (for example the duration of
                your visit on our Services), including behavioral data and content engagement metrics. This Tracking
                Information is used for analytics, research and to perform statistics (based on aggregated information).
              </p>
            </li>
            <li>
              <p>
                <strong>Marketing or Advertising Tracking Information</strong> -
                This Tracking Information is used to deliver tailored offers and advertisements to you, based on your
                derived interests, as well as to perform email marketing campaigns. It can also be used to limit the
                number of times you see an advertisement as well as help measure the effectiveness of the advertising
                campaign. It is usually placed by our advertisers (for example advertising networks) and provides them
                insights about the people who see and interact with their ads, visit their websites or use their app.
              </p>
            </li>
            <li>
              <p>
                <strong>Social media Tracking Information</strong> -
                Our website includes social media features, such as the Facebook "Like" or "Share" buttons. These
                features are either hosted by a third party or hosted directly on our Services. Your interactions with
                these features are governed by the privacy statement of the company providing these features.
              </p>
            </li>
          </ol>
        </div>
      </div>

      <div class="services-table">
        <div class="table-row flex">
          <div class="table-cell w20">
            <p><strong>Tracking Services</strong></p>
          </div>
          <div class="table-cell w30">
            <p><strong>Type</strong></p>
          </div>
          <div class="table-cell w50">
            <p><strong>Purpose</strong></p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Analytics Cookies</p>
          </div>
          <div class="table-cell w30">
            <p>First party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Performance Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              These Tracking Technologies are used to collect information regarding how you interact with the content on
              our Services, attribution purposes (for example, the referral URL), etc. We use the information to compile
              reports, calculate the revenues due to us and, help us improve the Services and to offer personalized
              products and content.
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Hotjar</p>
          </div>
          <div class="table-cell w30">
            <p>Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Performance Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              <a href="https://www.hotjar.com/privacy" target="_blank">
                Hotjar is a tool that aggregates data on how visitors to our site use are using it. Hotjar uses cookies
                to collect non-personal information. Examples of the type of information collected include, but is not
                limited to, pages visited, how pages are used and interacted with, type of device and browser used and
                the country you are in. For more information on Hotjar, how it collects data, what data it collects
                please and how to opt out of it collecting your information, please read Hotjar's privacy policy
              </a>
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Google Analytics</p>
          </div>
          <div class="table-cell w30">
            <p>Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Performance Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              <a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank">
                This cookie is used to collect information about how visitors use our Services. We use the information
                to compile reports and to help us improve the Services. The cookies collect the number of visitors to
                the Services, where visitors have come to the Services from and the pages they visited, and other data.
                Google Privacy Policy
              </a>
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Google Tag Manager</p>
          </div>
          <div class="table-cell w30">
            <p>Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Performance Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              <a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank">
                This cookie is associated with Google Tag Manager which we use to load scripts into our website pages.
                Google Privacy Policy
              </a>
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Google AdWords</p>
          </div>
          <div class="table-cell w30">
            <p>Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Marketing or Advertising Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              <a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank">
                We use Google AdWords which uses cookies to help us determine how many people who clicked on our Google
                Ads end up contacting us through our websites. This tracking cookie is set on your browser only when you
                click on a Google Ad and these cookies help us increase the website’s effectiveness for our visitors.
                Google Privacy Policy
              </a>
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Bing</p>
          </div>
          <div class="table-cell w30">
            <p>Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Marketing or Advertising Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              <a href="https://privacy.microsoft.com/nl-nl/privacystatement" target="_blank">
                We use Bing Ads to show you personalized ads. These cookies keep track of your surfing behavior, and
                help us understand how our Bing campaigns perform by tracking actions on our websites once ads have been
                clicked. Microsoft Privacy Policy
              </a>
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Fresh Desk</p>
          </div>
          <div class="table-cell w30">
            <p>Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Performance Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              <a href="https://www.freshworks.com/list-of-cookies/" target="_blank">
                We use Freshdesk to give you easy and efficient way of communication and a better structured FAQ
                section, dynamically updated based on your feedback.
              </a>
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Incapsula</p>
          </div>
          <div class="table-cell w30">
            <p>Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Strictly necessary Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              This cookie is used to improve the security on our websites (such as for protection from Denial of Service
              (DDoS) attacks). Incapsula Privacy Policy
            </p>
          </div>
        </div>
        <div class="table-row flex">
          <div class="table-cell w20">
            <p>Other cookies</p>
          </div>
          <div class="table-cell w30">
            <p>First and Third party Tracking Service</p>
          </div>
          <div class="table-cell w50">
            <p><strong>Strictly necessary Tracking Service</strong></p>
            <div class="h-div"></div>
            <p>
              These unlisted cookies might be in use on internal sections of the Services, in order to customize and
              simplify the user experience on the site by remembering choices you made and your log in credentials.
            </p>
          </div>
        </div>
      </div>

      <div class="item">
        <p class="item-title">How to manage your cookie settings</p>
        <div class="item-body">
          <p>
            Please note that we do not recognize or respond to automated browser signals regarding Tracking Information
            , including "Do Not Track" requests. However, there are various ways in which you can manage and control
            your cookie settings. Please remember that, by deleting or blocking cookies, some of the features of the
            Services may not work properly or as effectively.
          </p>
          <ol type="1">
            <li>
              <p><strong>Turning off cookies via your web browser</strong></p>
              <p>
                Most web browsers will provide you with some general information about cookies, enable you to see what
                cookies are stored on your device, allow you to delete them all or on an individual basis, and enable
                you to block or allow cookies for all websites or individually selected websites. You can also normally
                turn off third party cookies separately. Please note that the settings offered by a browser or device
                often only apply to that particular browser or device.
              </p>
            </li>
            <li>
              <p>
                <strong>Information about cookies is usually found in the "Help" section of the web browser.</strong>
                Below are some links to some commonly used web browsers:
              </p>
              <ol type="1">
                <li><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">
                  Chrome
                </a></li>
                <li><a href="https://support.google.com/chrome/answer/2392971?hl=en" target="_blank">
                  Chrome for mobile
                </a></li>
                <li><a href="http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies" target="_blank">
                  Internet Explorer and Microsoft Edge
                </a></li>
                <li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer"
                       target="_blank">
                  Mozilla Firefox
                </a></li>
                <li><a href="https://support.apple.com/kb/PH19214?locale=en_US" target="_blank">
                  Safari
                </a></li>
              </ol>
            </li>
            <li>
              <p><strong>Turning off third party cookies</strong></p>
              <p>
                You can turn off certain third party cookies for advertising purposes by visiting the Network
                Advertising Initiative, located here:
                <a href="http://www.networkadvertising.org/choices/" target="_blank">http://www.networkadvertising.org/choices/</a>
                or the DAA opt-out
                program, which are located here:
                <a href="http://www.aboutads.info/choices/" target="_blank">http://www.aboutads.info/choices/</a>
                , here (for EU/EEA citizens):
                <a href="http://www.youronlinechoices.eu/" target="_blank">http://www.youronlinechoices.eu/</a>
                and here (for mobile devices):
                <a href="http://www.aboutads.info/appchoices" target="_blank">http://www.aboutads.info/appchoices</a>
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <!--<div class="col-xs-12 col-lg-4 aside">-->
    <!--<app-need-help></app-need-help>-->
    <!--</div>-->

  </div>
</div>
