.simple-countdown-component {
  i {
    margin: 0 -5px;
  }

  .minutes {
    position: relative;

    .seconds {
      display: inline-block;
      min-width: 30px;
    }

    @media (max-width: 375px) {
      .seconds {
        min-width: 21px;
      }
    }
  }
}
