<div class="modal-body plain-modal-inner user-status-self-excluded-component">
  <p>
    Sorry, but we can't log you in.<br>
    While we're always happy to have our players return, we're keeping our promise to you.<br>
    You've outlined some limitations you've asked us to uphold for you, and that's why you can't play right now.
    Reach out to our customer support team at
    <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>
    and they'll walk you through whatever you need to know about your current status.<br>
    'till we meet again!
  </p>
</div>
