<div class="cookies-acceptance-component">
  <div class="text-acceptance">
    To help personalize our content, improve your experience and help refine our service, our website
    or its third-party tools use cookies. Using our website means you agree to allow us to use cookies in accordance with our
    <a href="https://www.biglotteryowin.com/about/cookies-policy" target="_blank">Cookies Policy</a>
  </div>
  <button class="bt green navigation-btn accept-btn" (click)="acceptCookieSaving()">
    <span>Accept</span>
    <!--<span>OK</span>-->
  </button>
</div>
