<div class="whats-next">
  <div class="list display-flex flex-items-xs-center flex-items-md-between flex-items-md-top">
    <div class="step">
      <div class="ico display-flex flex-items-xs-bottom flex-items-xs-center">
        <img src="assets/images/cart-page-thank-you/step1.svg">
      </div>
      <span class="desc">
        {{'WhatsNextComponent.TEXT_NOTIFY_RES' | translate}}
      </span>
    </div>
    <div class="step">
      <div class="ico display-flex flex-items-xs-bottom flex-items-xs-center">
        <img src="assets/images/cart-page-thank-you/step2.svg">
      </div>
      <span class="desc">
        {{'WhatsNextComponent.TEXT_ADD_WINNINGS' | translate}}
      </span>
    </div>
    <div class="step">
      <div class="ico display-flex flex-items-xs-bottom flex-items-xs-center">
        <img src="assets/images/cart-page-thank-you/step3.svg">
      </div>
      <span class="desc">
        {{'WhatsNextComponent.TEXT_EXCITING_GAMES' | translate}}
      </span>
    </div>
  </div>
</div>
