<div class="container coming-soon-component">
  <div class="row">
    <div class="col-xs-12 text-xs-center">
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<h1>-->
        <!--The requested service is currently unavailable, we ask that you try again at a later time.-->
      <!--</h1>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<img src="/assets/images/coming-soon/coming-soon.png">-->

      <p>
        Thank you for trying our demo.
      <p>
      <p>
        We are still running some few final tests and will be up and ready to play very soon.
      <p>
      <p>
        But no worries, your information will not be lost and we will notify you immediately as we launch.
      </p>
      <img src="/assets/images/coming-soon/coming-soon.png">
    </div>
  </div>
</div>
