<div class="combos-menu-list-item-component">
  <div class="logo">
    <img *ngIf="bundle.logo_path" [src]="bundle.logo_path" [alt]="bundle.name">
  </div>
  <p class="text">{{'BundlesMenuListItemComponent.TEXT_COMBINED_JACKPOT' | translate}}:</p>
  <p class="jackpot" [innerHtml]="bundle.jackpotTotal | jackpotFormat:bundle.currencyId"></p>
  <div class="combo-info">
    <span class="combo-info-item" *ngIf="bundle.linesTotal === 0 || bundle.sharesTotal === 0">
      {{bundle.lotteriesTotal}} {bundle.lotteriesTotal, plural, =1 {Lottery} other {Lotteries}}</span>
    <span class="combo-info-item" *ngIf="bundle.linesTotal > 0">
      {{bundle.linesTotal}} {bundle.linesTotal, plural, =1 {Line} other {Lines}}</span>
    <span class="combo-info-item" *ngIf="bundle.sharesTotal > 0">
      {{bundle.sharesTotal}} {bundle.sharesTotal, plural, =1 {Share} other {Shares}}</span>
  </div>
  <button class="bt green" (click)="addToCart.emit(bundle)">
    {{'BundlesMenuListItemComponent.BUTTON_SELECT' | translate}}
  </button>
  <div class="text-xs-center prices">
    <p class="former-price" *ngIf="bundle.formerPrice">
      {{'BundlesMenuListItemComponent.TEXT_ONLY_PRICE' | translate}} {{bundle.formerPrice | currency:bundle.currencyId:'symbol':'1.2-2'}}
    </p>
    <p class="price">
      {{'BundlesMenuListItemComponent.TEXT_ONLY_PRICE' | translate}} {{bundle.price | currency:bundle.currencyId:'symbol':'1.2-2'}}
    </p>
  </div>
</div>
