<div class="container bet-vs-play-component">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="bet-vs-play-title" itemprop="name">
        {{'BetVsPlayComponent.TEXT_MAIN_HEADER' | translate}}
      </h1>
    </div>
    <div class="col-xs-12">
      <p appTranslate="BetVsPlayComponent.TEMPLATE_1"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_2"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_3"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_4"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_5"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_6"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_7"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_8"></div>
  </div>
  <div class="row">
    <div class="col-xs-12" appTranslate="BetVsPlayComponent.TEMPLATE_9"></div>
  </div>
</div>
