@import '../../../../../../scss/vars';

.cart-menu-list-component {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 3px;
  position: relative;
  padding: 0;
  color: $primary;
  font-size: 0.9rem;

  &.scroll {
    min-height: 450px;
  }

  &:before {
    border-bottom: 6px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    left: 54%;
    top: -7px;
  }
  &:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    left: 54%;
    top: -6px;
  }

  .container-simple {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container-scrolable {
    padding-right: 15px;
    border-radius: 0 3px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  /* Scroll */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #DADADA;
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: #DADADA;
  }

  .bt.green {
    height: 40px;
    width: 170px;
    margin: 15px 0;
  }

  .cart-total {
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0 5px;
  }

  .balance {
    padding: 10px 0;
    margin: 0 5px;
  }

  .bt.clear {
    img {
      width: 13px;
    }
  }

  .balance {
    color: #a7a5a5;
    text-transform: capitalize;
    text-align: center;
  }

  @media (max-width: 767px) {
    .container-fluid {
      &:before {
        left: 82%;
      }
      &:after {
        left: 82%;
      }
    }
  }
}
