<div class="how-to-play-steps-component">
  <h3 class="title">
    {{'HowToPlayComponent.TEXT_MAIN_HEADER' | translate}}
  </h3>
  <div class="list display-flex flex-items-xs-center flex-items-md-between flex-items-md-top">
    <div class="step">
      <div class="ico display-flex flex-items-xs-bottom flex-items-xs-center">
        <img src="assets/images/home/Process_icons1.svg"
             [alt]="'HowToPlayComponent.Pick a Lottery' | translate"
             [title]="'HowToPlayComponent.Pick a Lottery' | translate">
      </div>
      <span class="desc">
        <span class="num">1.</span>
        {{'HowToPlayComponent.TEXT_STEP_ONE' | translate}}
      </span>
    </div>
    <div class="step">
      <div class="ico display-flex flex-items-xs-bottom flex-items-xs-center">
        <img src="assets/images/home/Process_icons2.svg"
             [alt]="'HowToPlayComponent.Secure Your Ticket' | translate"
             [title]="'HowToPlayComponent.Secure Your Ticket' | translate">
      </div>
      <span class="desc">
        <span class="num">2.</span>
        {{'HowToPlayComponent.TEXT_STEP_TWO' | translate}}
      </span>
    </div>
    <div class="step">
      <div class="ico display-flex flex-items-xs-bottom flex-items-xs-center">
        <img src="assets/images/home/Process_icons3.svg"
             [alt]="'HowToPlayComponent.Collect Your Winnings' | translate"
             [title]="'HowToPlayComponent.Collect Your Winnings' | translate">
      </div>
      <span class="desc">
        <span class="num">3.</span>
        {{'HowToPlayComponent.TEXT_STEP_THREE' | translate}}
        </span>
    </div>
  </div>
</div>
