<div class="display-flex flex-items-xs-between flex-items-xs-middle hidden-sm-down direction-column offers-menu-list-item-component">

  <!--- Ribbon --->
  <div *ngIf="isShowRibbon" class="ribbon-wrapper small" [ngClass]="freeLineClass">
    <p (click)="addToCartEvent.emit([lottery.id, linesAmount])" class="ribbon-text">{{ribbonText}}</p>
    <img src="assets/images/lottery-free-line/ribbon-small-shadow.svg" alt="{{ribbonText}}" class="ribbon">
  </div>

  <a class="lotteries-logo"
     (click)="oTrackMegaMenuClicked.emit(lottery.name)"
     [routerLink]="['/', lotterySlug]">
    <img [src]="lottery.logo" alt="{{lottery.name}}">
  </a>
  <ng-container *ngIf="upcomingDraw">
    <div class="lotteries-jackpot">
      <ng-container *ngIf="upcomingDraw.jackpot; else noJackpot">
        <span [innerHtml]="upcomingDraw.jackpot | jackpotFormat:upcomingDraw.currency_id"></span>
      </ng-container>
      <ng-template #noJackpot>
        <span [innerHtml]=" upcomingDraw.min_jackpot | jackpotFormat:upcomingDraw.currency_id"></span>
        <span class="no-jackpot">*</span>
        <div class="no-jackpot-remark text-xs-center">
          {{'OffersMenuListItemComponent.TEXT_JACKPOT_EXPECTED' | translate}}
        </div>
      </ng-template>
    </div>
    <button class="bt green"
            (click)="addToCartEvent.emit([lottery.id, linesAmount])"
            (click)="oTrackMegaMenuClicked.emit(lottery.name)">
      <span class="quick-picks">{{lineToQualify}} QuickPicks</span>
      <span class="freeline">
        +{{linesFree}} {linesFree, plural, =1 {Line} other {Lines}}
        {{'OffersMenuListItemComponent.TEXT_FREE' | translate}}
        <span class="arrows biglotteryowin-right-open"></span>
        <span class="arrows biglotteryowin-right-open"></span>
      </span>
      <span class="cost">
        {{'OffersMenuListItemComponent.TEXT_ONLY' | translate}}
        {{lotteryLinePrice * lineToQualify | currency:upcomingDraw.currency_id:'symbol':'1.2-2'}}
      </span>
    </button>
    <a [routerLink]="['/', lotterySlug]"
       (click)="oTrackMegaMenuClicked.emit(lottery.name)"
       class="display-flex hand-pick"
       title="Hand Pick Numbers">
      {{'OffersMenuListItemComponent.REF_HAND_PICK_NUMBERS' | translate}}
      <span class="arrow biglotteryowin-right-open"></span></a>
    <div class="lotteries-time-end">
      <app-simple-countdown [date]="upcomingDraw.last_ticket_time"></app-simple-countdown>
    </div>
  </ng-container>
</div>
