.error-message {
  color: red;
}

.success-message {
  color: green;
}

label{
  cursor: pointer;
}

.app-header {
  color: #ffffff;
  background-color: #F98E07;
  padding: 10px 0px;
}

.app-form{
  padding-top: 20px;
}

.app-info{
  margin-bottom: 20px;
}