<app-about-wrapper headline="Top 5 Questions">
  <div class="faq-ie-component">
    <div class="row hidden-md-up">
      <div class="col-xs-12">
        <h1 class="faq-title" itemprop="name">{{'FaqIeComponent.TEXT_MAIN_HEADER' | translate}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 list-items">
        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q1" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q1"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_1' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q2" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q2"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_2' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q3" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q3"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_3' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q4" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q4"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_4' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q5" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q5"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_5' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q6" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q6"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_6' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q7" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q7"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_7' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q8" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q8"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_8' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q9" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q9"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_9' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q10" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q10"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_10' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q11" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q11"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_11' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q12" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q12"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_12' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q13" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q13"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_13' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q14" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q14"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_14' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q15" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q15"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_15' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q16" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q16"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_16' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q17" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q17"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_17' | translate"></div>
        </div>

        <div itemscope itemtype="http://schema.org/Question" class="item">
          <input type="checkbox" id="q18" name="item-checkbox" (change)="setHeight($event)">
          <label class="item-title" for="q18"></label>
          <div [innerHTML]="'FaqIeComponent.TEMPLATE_18' | translate"></div>
        </div>

      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="help-title">{{'FaqIeComponent.TEXT_NEED_HELP' | translate}}</h4>
          </div>

          <div class="col-md-6 display-flex help-side-left">
            <div class="help-icon-wrapper display-flex flex-items-xs-top">
              <i class="biglotteryowin-chat"></i>
            </div>
            <div class="help-content-wrapper" [innerHTML]="'FaqIeComponent.TEMPLATE_LIVE_CHAT' | translate"></div>
          </div>

          <div class="col-md-6 display-flex help-side-right">
            <div class="help-icon-wrapper display-flex flex-items-xs-top">
              <i class="biglotteryowin-email"></i>
            </div>
            <div class="help-content-wrapper">
              <a class="link help-link" href="mailto:{{supportEmail}}">
                {{'FaqIeComponent.REF_EMAIL' | translate}}
              </a>
              <p>{{'FaqIeComponent.TEXT_HELP_LINK' | translate}}<br>
                <a class="link" href="mailto:{{supportEmail}}">{{supportEmail}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-about-wrapper>
