@import '../../../../../scss/vars';

.delete-cart-item-lightbox-component {
  .modal-body {
    min-height: 100%;

    .link {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center;
    }

    .bt {
      text-transform: none;
      margin-top: 1.2rem;
      margin-left: auto;
      margin-right: auto;

      + .bt {
        margin-left: -50px;
      }
    }
  }

  .title {
    color: $primary;
    font-family: $headline;
  }

  .cancel {
    font-size: $BASIC;
  }

  p {
    margin: 0.6rem 0 0.4rem;
    text-align: center;
  }

  @media (min-width: 768px) {
    .modal-dialog {
      margin: 135px auto 30px;
    }
  }
}
