@import '../../../../../scss/vars';

.list-of-popular-component {
  .swiper-slide {
    max-width: 300px;
    margin-right: 10px;
  }

  .swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .swiper-container {
    width: 92%;
    height: 174px;
  }

  .swiper-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5) url('/assets/images/svg/arrow-gray.svg') no-repeat;
    background-position: 50% 53%;
    background-size: 17px;
    margin-top: -17px;

    &:hover {
      background-image: url('/assets/images/svg/arrow-gray-hover.svg');
    }

    &.swiper-button-prev {
      transform: rotate(90deg);
      left: 1px;
      box-shadow: 2px 0 1px #5a5a5a;
    }

    &.swiper-button-next {
      transform: rotate(-90deg);
      right: 0;
      box-shadow: -2px 0 1px #5a5a5a;
    }
  }

  .link {
    margin: 1rem auto 2rem;
  }

  .all {
    // IE11
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 992px) {
    .swiper-container {
      width: 88%;
    }
  }

  @media (max-width: 767px) {
    .swiper-container {
      overflow: visible;
    }

    .swiper-button {
      display: none;
    }
  }

  @media (max-width: 530px) {
    .swiper-container {
      width: 255px;
    }
  }
}
