<app-about-wrapper headline="About Us">
  <div class="row about-us-inner-uk-component">
    <div class="col-xs-12">
      <div class="about-main-view">
        <img src="assets/images/about-us/about-main.jpg" alt="About Us">
      </div>
      <div class="about-us-title hidden-md-up">{{'AboutUsInnerUKComponent.TEXT_ABOUT_US' | translate}}</div>
      <p appTranslate="AboutUsInnerUKComponent.TEMPLATE_1"></p>
    </div>

    <div class="col-xs-12">
      <div class="row about-sections">
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsInnerUKComponent.TEMPLATE_2"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsInnerUKComponent.TEMPLATE_3"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsInnerUKComponent.TEMPLATE_4"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsInnerUKComponent.TEMPLATE_5"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsInnerUKComponent.TEMPLATE_6"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsInnerUKComponent.TEMPLATE_7"></div>
      </div>
    </div>
  </div>
</app-about-wrapper>
