<div role="dialog" class="modal notification-dont-miss-out">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" (click)="close.emit()">×</button>
      </div>
      <div class="modal-body text-xs-center">
        <p class="first-section-text" appTranslate="NotificationDontMissOutComponent.TEMPLATE_FREE_LINE"></p>
        <p appTranslate="NotificationDontMissOutComponent.TEMPLATE_ADD_LINE"></p>
        <!--<p>-->
          <!--Add only {{ data.linesToOffer }} more and get an <br> additional line FREE. <br>-->
          <!--Don't miss out on this great offer!-->
        <!--</p>-->
        <p>
          <button class="bt green" (click)="addLinesToGetFree.emit(data.lotteryId)">
            {{'NotificationDontMissOutComponent.BUTTON_WANT_FREE_LINE' | translate}}
          </button>
        </p>
        <p>
          <a (click)="cancel.emit()">{{'NotificationDontMissOutComponent.REF_NOT_NOW' | translate}}</a>
        </p>
        <div class="modal-logo hidden-sm-up">
          <img class="logo" src="/assets/images/lottery-logos/{{data.lotteryId}}.svg"
               alt="{{altName}}" title="{{altName}}">
        </div>
      </div>
      <div class="modal-logo hidden-sm-down">
        <img class="logo" src="/assets/images/lottery-logos/{{data.lotteryId}}.svg"
             alt="{{altName}}" title="{{altName}}">
      </div>
      <div class="mask-circle-wrapper">
        <div class="mask-circle"></div>
      </div>
    </div>
  </div>
  <div class="blackout" (click)="close.emit()"></div>
</div>
