<app-about-wrapper headline="Safe & Secure">
  <div class="row safe-and-secure">
    <div class="col-xs-12 hidden-md-up">
      <div class="sas-title">{{'SafeAndSecureUkContainerComponent.TEXT_MAIN_HEADER' | translate}}</div>
    </div>
    <div class="col-xs-12">
      <p appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_DESCRIPTION"></p>
    </div>
    <div class="col-xs-12 sas-partners-board">
      <div class="row flex-items-xs-center">
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(ecogra)">
          <img src="assets/images/svg/e-cogra.svg" alt="eCogra" title="{{'SafeAndSecureUkContainerComponent.TITLE_1' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(norton)">
          <img src="assets/images/svg/norton.svg" alt="Norton VeriSign" title="{{'SafeAndSecureUkContainerComponent.TITLE_2' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(incapsula)">
          <img src="assets/images/svg/incapsula.svg" alt="Imperva Incapsula" title="{{'SafeAndSecureUkContainerComponent.TITLE_3' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(visa)">
          <img src="assets/images/svg/visa.svg" alt="Visa" title="{{'SafeAndSecureUkContainerComponent.TITLE_4' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(mastercard)">
          <img src="assets/images/svg/master-card.svg" alt="Mastercard" title="{{'SafeAndSecureUkContainerComponent.TITLE_5' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(maestro)">
          <img src="assets/images/svg/maestro.svg" alt="Maestro" title="{{'SafeAndSecureUkContainerComponent.TITLE_6' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(skrill)">
          <img src="assets/images/svg/skrill-purple.svg" alt="Skrill" title="{{'SafeAndSecureUkContainerComponent.TITLE_7' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(neteller)">
          <img src="assets/images/svg/neteller-green.svg" alt="Neteller" title="{{'SafeAndSecureUkContainerComponent.TITLE_8' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(gamble)">
          <img src="assets/images/svg/game-care.svg" alt="Gamble Care" title="{{'SafeAndSecureUkContainerComponent.TITLE_9' | translate}}">
        </a>
        <a class="col-md-4 col-xs-6 display-flex flex-items-xs-center flex-items-xs-middle sas-partner" (click)="scrollTo(gaming)">
          <img src="assets/images/svg/responsible-gambling.svg" alt="Responsible Gaming" title="{{'SafeAndSecureUkContainerComponent.TITLE_10' | translate}}">
        </a>
      </div>
    </div>
    <div class="col-xs-12 sas-partners-table">
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/e-cogra.svg" alt="eCogra" title="{{'SafeAndSecureUkContainerComponent.TITLE_1' | translate}}">
        </div>
        <div #ecogra class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_1"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/norton.svg" alt="Norton VeriSign" title="{{'SafeAndSecureUkContainerComponent.TITLE_2' | translate}}">
        </div>
        <div #norton class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_2"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/incapsula.svg" alt="Imperva Incapsula" title="{{'SafeAndSecureUkContainerComponent.TITLE_3' | translate}}">
        </div>
        <div #incapsula class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_3"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/visa.svg" alt="Visa" title="{{'SafeAndSecureUkContainerComponent.TITLE_4' | translate}}">
        </div>
        <div #visa class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_4"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/master-card.svg" alt="Mastercard" title="{{'SafeAndSecureUkContainerComponent.TITLE_5' | translate}}">
        </div>
        <div #mastercard class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_5"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/maestro.svg" alt="Maestro" title="{{'SafeAndSecureUkContainerComponent.TITLE_6' | translate}}">
        </div>
        <div #maestro class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_6"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/skrill-purple.svg" alt="Skrill" title="{{'SafeAndSecureUkContainerComponent.TITLE_7' | translate}}">
        </div>
        <div #skrill class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_7"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/neteller-green.svg" alt="Neteller" title="{{'SafeAndSecureUkContainerComponent.TITLE_8' | translate}}">
        </div>
        <div #neteller class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_8"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/game-care.svg" alt="Gamble Care" title="{{'SafeAndSecureUkContainerComponent.TITLE_9' | translate}}">
        </div>
        <div #gamble class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_9"></div>
      </div>
      <div class="row">
        <div class="col-md-4 display-flex flex-items-xs-middle flex-items-xs-center sas-partner">
          <img src="assets/images/svg/responsible-gambling.svg" alt="Responsible Gaming" title="{{'SafeAndSecureUkContainerComponent.TITLE_10' | translate}}">
        </div>
        <div #gaming class="col-md-8 sas-partner-descr" appTranslate="SafeAndSecureUkContainerComponent.TEMPLATE_10"></div>
      </div>
    </div>
  </div>
</app-about-wrapper>
