<div class="follow-us text-xs-center display-flex flex-items-xs-center direction-column">
  <a class="bt-follow display-flex flex-items-xs-middle flex-items-xs-center" (click)="onTrackSocialIconClicked()"
     href="{{facebookUrl}}" target="_blank" title="{{'FollowUsComponent.TITLE_FB' | translate}}" alt="Facebook">
    <div class="bt-follow-icon display-flex flex-items-xs-middle flex-items-xs-center">
      <img src="/assets/images/svg/share-facebook-hover.svg" alt="Facebook">
    </div>
    <div class="bt-follow-text display-flex flex-items-xs-middle flex-items-xs-center">
      {{'FollowUsComponent.TEXT_FOLLOW_FB' | translate}}
    </div>
  </a>
  <p class="follow-text">{{'FollowUsComponent.TEXT_FOLLOW_FB_DESCRIPTION' | translate}}</p>
</div>
