<section id="account-transactions">

  <div class="row hidden-md-up">
    <div class="col-xs-4">
      <div class="link back" (click)="onBackToMenu()" [routerLink]="['/myaccount']">
        <svg viewBox="0 0 46.01 27.74">
          <title>{{'TransactionsComponent.TEXT_BACK' | translate}}</title>
          <path d="M12.36,7.11L30.54,25.23A4.81,4.81,0,0,1,23.72,32L5.54,13.91A4.81,4.81,0,0,1,12.36,7.11Z"
                transform="translate(-4.13 -5.7)"/>
          <path d="M48.73,7.11a4.8,4.8,0,0,1,0,6.8L30.54,32a4.81,4.81,0,0,1-6.82-6.8L41.91,7.11A4.83,4.83,0,0,1,48.73,7.11Z"
                transform="translate(-4.13 -5.7)"/>
        </svg>
        <span>{{'TransactionsComponent.TEXT_BACK' | translate}}</span>
      </div>
    </div>
    <h1 class="col-xs-8">{{'TransactionsComponent.TEXT_MAIN_HEADER' | translate}}</h1>
  </div>

  <div *ngIf="transactions && transactions.length !== 0" class="transactions-table">
    <div class="row table-header">
      <div class="col-xs col-md th date">
        {{'TransactionsComponent.TEXT_DATE' | translate}}
      </div>
      <div class="col-xs col-md th type">
        {{'TransactionsComponent.TEXT_TYPE' | translate}}
      </div>
      <div class="col-xs col-md-4 th hidden-sm-down confirmation">
        {{'TransactionsComponent.TEXT_CONF_NO' | translate}}
      </div>
      <div class="col-xs col-md-2 th amount">
        {{'TransactionsComponent.TEXT_AMOUNT' | translate}}
      </div>
      <div class="th hidden-lg-up view"></div>
    </div>

    <div class="table-body">
      <app-transaction-list [transactions]="transactions"></app-transaction-list>
    </div>
  </div>

  <p *ngIf="transactions && transactions.length === 0" class="no-items">
    {{'TransactionListComponent.No items' | translate}}
    <a [routerLink]="['/', 'lotteries']"
       [queryParams]="{sort: 'jackpot'}"
       title="{{'TransactionsComponent.TITLE_LOTTO_LIST' | translate}}" alt="Lotteries list">
    {{'TransactionsComponent.TEXT_THIS_LIST' | translate}}
  </a>.
  </p>

</section>
