<div class="cookie-container">
  <div class="container">
    <div class="display-flex flex-items-xs-top">
      <span appTranslate="CookieModalComponent.TEMPLATE_PRIVACY"></span>
      <div class="close" (click)="hideCookieModalEvent.emit()">
        <svg viewBox="0 0 19 19">
          <defs>
            <style>
              .cls-2{fill:#bbaf7a;}
              .close svg:hover .cls-2{fill:#676767;}
            </style>
          </defs>
          <path class="cls-2" d="M9.72,1.17a8.5,8.5,0,1,0,8.5,8.5A8.5,8.5,0,0,0,9.72,1.17Zm2.17,13.07-2.19-3-2.18,3H4.75L8.21,9.56,5,5.1H7.74l2,2.7,2-2.7h2.77l-3.21,4.4,3.48,4.73h-2.8Z" transform="translate(-1.22 -1.17)"/></svg>
      </div>
    </div>
  </div>
</div>
