<app-about-wrapper headline="About Us" [isVisibleContent]="false">
  <div class="row about-us-ie-component">
    <div class="col-xs-12">
      <div class="about-main-view">
        <img src="assets/images/about-us/about-main.jpg" alt="About Us">
      </div>
      <div class="about-us-title hidden-md-up">
        {{'AboutUsIeComponent.TEXT_ABOUT_US' | translate}}
      </div>
      <p appTranslate="AboutUsIeComponent.TEMPLATE_1"></p>
    </div>

    <div class="col-xs-12">
      <div class="row about-sections">
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsIeComponent.TEMPLATE_2"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsIeComponent.TEMPLATE_3"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsIeComponent.TEMPLATE_4"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsIeComponent.TEMPLATE_5"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsIeComponent.TEMPLATE_6"></div>
        <div class="col-md-6 about-section-wrapper" appTranslate="AboutUsIeComponent.TEMPLATE_7"></div>
      </div>
    </div>
  </div>
</app-about-wrapper>
