<div class="container lottery-widgets-stories-component">
  <div class="row stories-container">
    <div class="col-xs-12 display-flex flex-items-xs-top flex-items-xs-center stories">
      <div class="story">
        <a [href]="'LotteryWidgetsStoriesComponent.href1' | translate"
					 [title]="'LotteryWidgetsStoriesComponent.title1' | translate">
          <figure>
            <img [src]="'LotteryWidgetsStoriesComponent.src1' | translate"
								 [alt]="'LotteryWidgetsStoriesComponent.title1' | translate"
								 [title]="'LotteryWidgetsStoriesComponent.title1' | translate">
          </figure>
        </a>
        <h2 class="headline">
          <a [href]="'LotteryWidgetsStoriesComponent.href1' | translate"
						 [title]="'LotteryWidgetsStoriesComponent.title1' | translate"
						 appTranslate="LotteryWidgetsStoriesComponent.title1">
          </a>
        </h2>
        <a [href]="'LotteryWidgetsStoriesComponent.href1' | translate"
					 [title]="'LotteryWidgetsStoriesComponent.title1' | translate"
					 class="link">
			{{'LotteryWidgetsStoriesComponent.REF_READ_MORE' | translate}}
        </a>
      </div>

			<div class="story">
				<a [href]="'LotteryWidgetsStoriesComponent.href2' | translate"
					 [title]="'LotteryWidgetsStoriesComponent.title2' | translate">
					<figure>
						<img [src]="'LotteryWidgetsStoriesComponent.src2' | translate"
								 [alt]="'LotteryWidgetsStoriesComponent.title2' | translate"
								 [title]="'LotteryWidgetsStoriesComponent.title2' | translate">
					</figure>
				</a>
				<h2 class="headline">
					<a [href]="'LotteryWidgetsStoriesComponent.href2' | translate"
						 [title]="'LotteryWidgetsStoriesComponent.title2' | translate"
						 appTranslate="LotteryWidgetsStoriesComponent.title2">
					</a>
				</h2>
				<a [href]="'LotteryWidgetsStoriesComponent.href2' | translate"
					 [title]="'LotteryWidgetsStoriesComponent.title2' | translate"
					 class="link">
					{{'LotteryWidgetsStoriesComponent.REF_READ_MORE' | translate}}
				</a>
			</div>

			<div class="story">
				<a [href]="'LotteryWidgetsStoriesComponent.href3' | translate"
					 [title]="'LotteryWidgetsStoriesComponent.title3' | translate">
					<figure>
						<img [src]="'LotteryWidgetsStoriesComponent.src3' | translate"
								 [alt]="'LotteryWidgetsStoriesComponent.title3' | translate"
								 [title]="'LotteryWidgetsStoriesComponent.title3' | translate">
					</figure>
				</a>
				<h2 class="headline">
					<a [href]="'LotteryWidgetsStoriesComponent.href3' | translate"
						 [title]="'LotteryWidgetsStoriesComponent.title3' | translate"
						 appTranslate="LotteryWidgetsStoriesComponent.title3">
					</a>
				</h2>
				<a [href]="'LotteryWidgetsStoriesComponent.href3' | translate"
					 [title]="'LotteryWidgetsStoriesComponent.title3' | translate"
					 class="link">
					{{'LotteryWidgetsStoriesComponent.REF_READ_MORE' | translate}}
				</a>
			</div>
    </div>
    <!--<div class="col-xs-12 text-xs-center">-->
      <!--<a href="/"-->
		 <!--title="{{'LotteryWidgetsStoriesComponent.REF_MORE_STORIES' | translate}}"-->
		 <!--class="link see-more" itemprop='significantLink'>-->
		  <!--{{'LotteryWidgetsStoriesComponent.REF_MORE_STORIES' | translate}}-->
	  <!--</a>-->
    <!--</div>-->
  </div>
</div>
