<div role="dialog" *ngIf="isShow" class="modal password-update-successfully-component">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">{{'PasswordUpdateSuccessfullyComponent.TEXT_WELL_DONE' | translate}}</div>
        <button type="button" class="close" (click)="onCloseLightbox()">×</button>
      </div>

      <div class="modal-body">
        <p>{{'PasswordUpdateSuccessfullyComponent.TEXT_LOGGED_WITH_NEW_PASS' | translate}}</p>
      </div>

      <div class="modal-footer" appTranslate="PasswordUpdateSuccessfullyComponent.TEMPLATE_HELP_SIGNING"></div>
    </div>
  </div>
  <div class="blackout"></div>
</div>
