<div class="container privacy-policy-component">
  <h1 class="title-privacy" itemprop="name">Biglotteryowin Privacy Policy</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-8 list-items">
      <p>Last Revised 07 November 2018</p>
      <div class="item">
        <p class="item-title">Introduction</p>
        <div class="item-body">
          <p>
            We at BigLotteryOWin (<strong>“we”</strong>, <strong>“us”</strong> or <strong>“the Company”</strong>) respect
            your privacy and are
            committed to protect the privacy of our users (<strong>“user”</strong> or <strong>“you”</strong>).
          </p>
          <p>
            This Privacy Policy outlines our practices with respect to collecting, using and disclosing your information
            through your use
            of our website (collectively: <strong>“the Services”</strong>).
          </p>
          <p>
            We encourage you to read the Privacy Policy carefully and use it to make informed decisions.
          </p>
          <p>
            The Privacy Policy is a part of our <a routerLink="/about/terms-and-conditions">Terms Of Service</a> and is
            incorporated therein by
            references.
          </p>
          <p>
            By using our Services, you agree to the terms of this Privacy Policy and your continued use of the Services
            constitutes your
            ongoing agreement to this Privacy Policy.
          </p>
          <p>
            In this Privacy Policy you will read about:
          </p>
          <ul>
            <li><strong>What type of information</strong> we collect</li>
            <li><strong>How we collect</strong> your information</li>
            <li>Information on the <strong>Cookies</strong> we use and Google Analytics</li>
            <li><strong>How we use</strong> the information we collect</li>
            <li><strong>With whom we share the information,</strong> and for <strong>what purpose</strong></li>
            <li><strong>For how long we retain</strong> the information we collect</li>
            <li><strong>Advertising</strong></li>
            <li><strong>How do we safeguard</strong> your information</li>
            <li>How we use the information we collect for <strong>marketing purposes</strong></li>
            <li>How to <strong>contact us</strong></li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="item-title">What type of information we collect</p>
        <div class="item-body">
          <h5>We collect two types of data and information from our users.</h5>
          <p>
            The first type of information is un-identified and non-identifiable information pertaining to a user, which
            may be made available or gathered via your use of the Services (<strong>“Non-personal Information”</strong>).
            We are not
            aware of the identity of the user from which the Non-personal Information was collected. Non-personal
            Information which is being collected may include your aggregated usage information in order to enhance the
            functionality of our Services.
          </p>
          <p>
            The second type of information is individually identifiable information, namely information that identifies
            an individual or may with reasonable effort identify an individual (<strong>“Personal Information”</strong>).
            When you use
            our Services you will be asked to provide Personal Information to us. The Personal information we collect
            through our Services includes information which is submitted directly by the user, such as: user name, phone
            number; e-mail address; date of birth; home address; payment method (e.g. credit card number); and other
            financial information that we may need in order to provide our Services.
          </p>
          <p>
            We may also collect Personal Information from your device (e.g. geolocation data, IP address) and
            information on your activity on the Services.
          </p>
          <p>
            If we combine Personal Information with Non-personal Information, the combined information will be treated
            as Personal Information for as long as it remains combined.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">How we collect information</p>
        <div class="item-body">
          <p>
            There are two main methods we may use to collect information:
          </p>
          <ol type="a">
            <li>
              We collect information through your use of the Services. In other words, when you are using our
              Services, we are aware
              of it and may gather the information relating to such usage, either independently or through the help of
              third-party
              services as detailed below.
            </li>
            <li>
              We collect information which you provide us voluntarily. For example, we collect Personal Information
              which you
              provide when you:
              (i) respond to communications from us; (ii) open an account and use the Services; and (iii) communicate
              with us via email or other means.
            </li>
          </ol>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Cookies</p>
        <div class="item-body">
          <p>
            We use cookies and other technologies in our related services, including when you visit our site or access
            our Services.
          </p>
          <p>
            A "cookie" is a small piece of information that a website assigns to your device while you are viewing a
            website.
            Cookies are very helpful and can be used for various different purposes. These purposes include allowing you
            to navigate
            between pages efficiently, enable automatic activation of certain features, remembering your preferences and
            making the
            interaction between you and our Services quicker and easier. Cookies are also used to help ensure that the
            advertisements
            you see are relevant to you and your interests and to compile statistical data on your use of our Services.
          </p>
          <p>
            Our website uses cookies in order to provide you with Services, identify you for repeat visits, (for example
            to allow us to
            store your preferences for the next sign-in), and monitor and analyze our web access.
          </p>
          <p>
            You may remove the cookies by following the instructions of your device preferences; You can find more
            information about
            cookies at <a href="http://www.allaboutcookies.org/" target="_blank">www.allaboutcookies.org</a>; however,
            if you choose to disable
            cookies, some features of our Service may not operate properly and your online experience may be limited.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Google Analytics</p>
        <div class="item-body">
          <p>
            We use a tool called “Google Analytics” to collect information about your use of the Service. Google
            Analytics collects information such as how often users access the Service, what pages they visit when they
            do so, etc. We use the information we get from Google Analytics only to improve our Service. Google
            Analytics collects the IP address assigned to you on the date you visit sites, rather than your name or
            other identifying information. We do not combine the information collected through the use of Google
            Analytics with personally identifiable information. Google’s ability to use and share information collected
            by Google Analytics about your visits to this site is restricted by the  
            <a href="https://www.google.com/analytics/terms/us.html" target="_blank">Google Analytics Terms of Use </a>
            and the  
            <a href="https://www.google.com/policies/privacy/" target="_blank">Google Privacy Policy</a>
            . You can prevent Google Analytics from recognizing you on return visits
            by 
            <a href="https://www.usa.gov/optout-instructions" target="_blank">disabling cookies</a>
            on your browser. For more information on Google Analytics
            see:
            <a href="https://www.google.com/analytics/standard/features/" target="_blank">
              https://www.google.com/analytics/standard/features/
            </a>
            . For more information on opting-out of Google
            Analytics see: 
            <a href="https://support.google.com/analytics/answer/181881?hl=en&ref_topic=2919631" target="_blank">
              https://support.google.com/analytics/answer/181881?hl=en&ref_topic=2919631
            </a> 
            .
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">How we Process the information we collect</p>
        <div class="item-body">
          <p>
            We Process and share Personal Information in the manners described in this Privacy Policy. The Personal
            Information will be disclosed to a third party only to the extent required for the specific purpose, as
            stipulated in this Privacy Policy, and in such case we require the relevant third party to agree to process
            such information in compliance with our Privacy Policy.
          </p>
          <p>
            In addition to the purposes listed above, the information we collect, which may include your Personal
            Information, is used for the following purposes:
          </p>
          <ul>
            <li>
              To set up your account and to provide our Services (e.g. process your payments; etc.)
            </li>
            <li>
              To identify and authenticate your access to certain features of the Services;
            </li>
            <li>
              To communicate with you and to keep you informed of our latest updates;
            </li>
            <li>
              To serve you advertisements when you use our Services;
            </li>
            <li>
              To perform a research or to conduct anonymous analytics in order to tailor our services to your needs and
              interests;
            </li>
            <li>
              To support and troubleshoot our Services and to respond to your queries;
            </li>
            <li>
              To investigate violations and enforce our policies, and as required by law, regulation or other
              governmental authority, to comply with a subpoena or similar legal process or respond to a government
              request.
            </li>
            <li>
              To monitor transactions for the purposes of preventing fraud, money laundering and cheating.
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <p class="item-title">With whom we share the information we collect (“Recipients”)</p>
        <div class="item-body">
          <p>
            We do not rent, sell, or share your Personal Information with third parties except as described in
            this Privacy Policy. The Personal Information will be disclosed to a third party only to the extent
            required for the specific purpose, as stipulated in this Privacy Policy, and in such case we require
            the relevant third party to agree to process and secure such information in compliance with our
            Privacy Policy and applicable law.
          </p>
          <p>
            In addition to the purposes listed in this Privacy Policy, we may share Personal Information with
            our Recipients, who may be located in different jurisdictions across the world, for any of the
            following purposes:
          </p>
          <ul>
            <li>Providing you with our Services;</li>
            <li>Storing such information on our behalf;</li>
            <li>Processing such information to assist us with our business operations (e.g. to process
              payments and your deposits; authenticate your access; auditing our operations, provide
              customer support, customer retention services, etc.);
            </li>
            <li>Performing research, technical diagnostics or analytics; and</li>
          </ul>
          <p>
            We may transfer or disclose Personal Information to our subsidiaries, affiliated companies and
            subcontractors for the purposes listed in this Privacy Policy.
          </p>
          <p>
            We may also disclose Personal Information, or any information you submitted via the Services if
            we have a good faith belief that disclosure of such information is helpful or reasonably necessary
            to: (i) comply with any applicable law, regulation, legal process or governmental request; (ii)
            enforce our policies (including our Agreement), including investigations of potential violations
            thereof; (iii) investigate, detect, prevent, or take action regarding illegal activities or other
            wrongdoing, suspected fraud or security issues; (iv) to establish or exercise our rights to defend
            against legal claims; (v) prevent harm to the rights, property or safety of us, our users, yourself or
            any third party; or (vi) for the purpose of collaborating with law enforcement agencies or in case
            we find it necessary in order to enforce intellectual property or other legal rights.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Third party collection of information</p>
        <div class="item-body">
          <p>
            Our Privacy Policy only addresses the use and disclosure of information we collect from you. To
            the extent that you disclose your information to other parties via our Services (e.g. by clicking on a
            link to any other website or location) or via other sites throughout the internet, different rules
            may apply to their use or disclosure of the information you disclose to them.
          </p>
          <p>
            It is important to note that such third party services may have their own privacy policies and we
            advise you to read them carefully. Inclusion of a link to third party website or service is not a
            recommendation of such a website or service. Third party sites may contain information or service
            that is illegal, unreasonable or that some people may find inappropriate or offensive. Before using
            third party sites and services or before making a purchase, we recommend you to read and
            understand those sites’, service’ or product’s terms and conditions, warranty, and privacy policies
            and to ensure you agree to their terms. You acknowledge that we are not responsible for the
            products, services, or descriptions of those products or services that you receive from third party
            sites or to the content or privacy practices of those sites, and that this Privacy Policy does not
            apply to any such third party products and services. You are knowingly and voluntarily assuming all
            risks of using third party sites to purchase products and services. You agree that we shall have no
            liability whatsoever with respect to such third party sites and your usage of them
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">For how long we retain the information we collect?</p>
        <div class="item-body">
          <p>
            We value your privacy and control over your Personal Information, and therefore you may, at any time,
            request to change and
            update it by emailing us at 
            <a href="mailto:{{supportEmail}}" style="white-space:nowrap;">{{supportEmail}}</a>.
            You can also request that we will correct errors or that we will erase your Personal Information (except for
            your transaction
            history and other data that we are required to keep under applicable laws) by emailing us at
            <a href="mailto:{{supportEmail}}" style="white-space:nowrap;">{{supportEmail}}</a>.
          </p>
          <p>
            Please note that unless you instruct us otherwise we retain the information we collect for as long
            as needed to provide the Services. We may also retain information we collect in order to comply
            with our legal obligations, resolve disputes and enforce our agreements.
          </p>
          <p>
            We may rectify, replenish or remove incomplete or inaccurate information, at any time and at our
            own discretion.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">How do we safeguard and transfer your information?</p>
        <div class="item-body">
          <p>
            We take great care in implementing and maintaining the security of the Services and your
            information. We employ industry standard procedures and policies to ensure the safety of our
            users’ information, and prevent unauthorized use of any such information, and we require any
            third party to comply with similar security requirements, in accordance with this Privacy Policy.
            Although we take reasonable steps to safeguard information, we cannot be responsible for the
            acts of those who gain unauthorized access or abuse our Services, and we make no warranty,
            express, implied or otherwise, that we will prevent such access.
          </p>
          <p>
            Since we operate globally, it may be necessary to transfer your Personal Information to countries
            outside the European Union. The data protection and other laws of these countries may not be as
            comprehensive as those in the European Union — in these instances we will take steps to ensure
            that a similar level of protection is given to your Personal Information. <strong>You hereby consent to
            transfer of your Personal Information to countries outside the European Union</strong>.
          </p>
          <p>
            If you feel that your privacy was treated not in accordance with our policy, or if any person
            attempted to abuse our Services or acted in an inappropriate manner, please contact us directly at
            <a href="mailto:{{supportEmail}}" style="white-space:nowrap;">{{supportEmail}}</a>.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Advertisements</p>
        <div class="item-body">
          <p>
            We use a third-party advertising technology to serve advertisements when you visit our websites
            and use our Services. This technology uses Non-personal Information with regards to your use of
            our Services to serve advertisements to you (e.g. by placing a third-party cookie on your web-browser).
            We may also use other third parties to assist us in evaluating the success of our advertising.
          </p>
          <p>
            You may opt-out of many third-party ad networks, including those operated by members of the
            Network Advertising Initiative (“NAI”) and the Digital Advertising Alliance (“DAA”). For more
            information regarding this practice by NAI members and DAA members, and your choices
            regarding having this information used by these companies, including how to opt-out of third-
            party ad networks operated by NAI and DAA members, please visit their respective websites:
            <a href="http://www.networkadvertising.org/optout_nonppii.asp" target="_blank">
              www.networkadvertising.org/optout_nonppii.asp
            </a>
            and
            <a href="http://www.aboutads.info/choices" target="_blank">www.aboutads.info/choices</a>.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Corporate transaction</p>
        <div class="item-body">
          <p>
            We may share Information, including Personal Information, in the event of a corporate transaction
            (e.g. sale of a substantial part of our business, merger, consolidation or asset sale of an asset or
            transfer in the operation thereof) of the Company or of any other company within the Group. In
            the event of the above, the acquiring company or transferee will assume the rights and obligations
            as described in this Privacy Policy.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Minors</p>
        <div class="item-body">
          <p>
            The Services are not designated to users under the age of 18. If you are under 18, you should not
            download or use the Services nor provide any Personal Information to us.
          </p>
          <p>
            We reserve the right to access and verify any Personal Information collected from you. If you have
            any reason to believe that a minor has shared any information with us, please contact us at
            <a href="mailto:{{supportEmail}}" style="white-space:nowrap;">{{supportEmail}}</a>.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Updates or amendments to the Privacy Policy</p>
        <div class="item-body">
          <p>
            We may revise this Privacy Policy and Cookies Policy from time to time, at our sole discretion, and the most
            current version will be posted on our website (as reflected in the "Last Revised" heading). We encourage you
            to review this Privacy Policy regularly for any changes. In case of material changes we will notify you
            through our Services or by email.
          </p>
          <p>
            Your continued use of the Services, following the notification of such amendments on our website,
            constitutes your acknowledgement and consent of such amendments to the Privacy Policy and your agreement to
            be bound by the terms of such amendments.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">Direct Marketing</p>
        <div class="item-body">
          <p>
            We may use your email address, if we have collected it, for the purpose of providing you marketing offers.
            Out of respect for your right to privacy we provide you with an easy means to decline receiving email offers
            from us. At any time, you may request to discontinue receiving these offers by sending an email to 
            <a href="mailto:{{supportEmail}}" style="white-space:nowrap;">{{supportEmail}}</a>.
          </p>
        </div>
      </div>
      <div class="item">
        <p class="item-title">How to contact us</p>
        <div class="item-body">
          <p>
            If you have any general questions about the Services or the information that we collect about you and how we
            process it, please contact our Data Protection Officer:
            <a href="mailto:{{'dpo@biglotteryowin.com'}}" style="white-space:nowrap;"> dpo@biglotteryowin.com</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4 aside">
      <app-need-help></app-need-help>
    </div>

  </div>
</div>
