<div class="syndicate-body-desktop">
  <div class="col-xs-12">
    <h3 class="syndicate-title" [innerHTML]="'SyndicateBodyDesktopComponent.TEMPLATE_MAIN_TITLE' | translate: {param: syndicateModel?.lotteryName}"></h3>
  </div>
  <div class="col-xs-12" [innerHTML]="'SyndicateBodyDesktopComponent.TEMPLATE_JOINING' | translate: {param: syndicateModel?.lotteryName}"></div>
  <div class="col-xs-12">
    <div class="row syndicate-controller-wrapper flex-items-xs-middle">
      <div class="col-md-5">
        <div class="row">
          <div class="col-xs-3">
            <img class="syndicate-icon" src="assets/images/syndicates/shares.png" alt="syndicates">
          </div>
          <div class="col-xs-9">
            <div class="lines-summary">
              {{syndicateModel?.numLines}} {{'SyndicateBodyDesktopComponent.TEXT_LINES' | translate}}
               <span (click)="viewLinesEvent.emit({lotteryName: syndicateModel?.lotteryName, lines: syndicateModel?.lines})"
                     class="link">{{'SyndicateBodyDesktopComponent.TEXT_VIEW' | translate}}</span>
            </div>
            <div class="lines-shares">
              {{syndicateModel?.numShares}} {{'SyndicateBodyDesktopComponent.TEXT_SHARES' | translate}}
            </div>
            <div class="price-per-share">
              {{syndicateModel?.sharePrice | currency:syndicateModel?.currencyId :'symbol':'1.2-2'}} {{'SyndicateBodyDesktopComponent.TEXT_PER_SHARE' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 text-xs-center">
        <div class="share-title">
          Pick your share amount
        </div>
        <div class="shares-controller display-flex flex-items-xs-center">
          <button class="control-button left"
                  [disabled]="sharesAmount <= 1"
                  (click)="removeShareEvent.emit({
                    lotteryId: syndicateModel?.lotteryId,
                    sharesAmount: sharesStep,
                    sharesBeforeClick: sharesAmount})">-
          </button>

          <input class="text-xs-center" type="text" disabled="disabled" value="{{sharesAmount}}">

          <button class="control-button right"
                  [disabled]="sharesAmount === syndicateModel.numSharesAvailable"
                  (click)="addShareEvent.emit({
                    lotteryId: syndicateModel?.lotteryId,
                    sharesAmount: sharesStep,
                    sharesBeforeClick: sharesAmount})">+
          </button>
        </div>
        <div class="progressbar-wrapper">
          <div class="progressbar">
            <div class="progressbar-body" [ngStyle]="{'width': progressbarWidth}"></div>
          </div>
          <div class="bar-counter">{{syndicateModel?.numShares}}
            {{'SyndicateBodyDesktopComponent.TEXT_SHARES' | translate}} / {{syndicateModel?.numSharesAvailable}}
            {{'SyndicateBodyDesktopComponent.TEXT_SHARES' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

