@import '../../../../../../../scss/vars';

.tickets-header-mobile-component {
  background: $GRAY-LIGHTER;

  .row {
    min-height: 36px;
  }

  .header-body {
    width: 100%;
    max-width: 320px;

    .logo {
      height: 100%;
      max-width: 65px;
      padding: 0.5rem 0.5rem 0.5rem 0;

      img {
        height: auto;
        width: 100%;
      }
    }
    .jackpot {
      color: $GREEN;
      font-size: $BASIC;
      font-family: $CONTENT;
      position: relative;
    }

    .lottery-name {
      @extend .jackpot;
    }

    .countdown {
      font-family: $headline;
      color: $primary;
      font-size: $small;
      margin-bottom: 0.5rem;
    }
  }
  .right {
    padding: 10px 0 0 0;
  }

  .ribbon-wrapper {
    position: absolute;
    top: -5px;
    right: -1px;
    overflow: hidden;
    width: 151px;

    .ribbon-text {
      cursor: pointer;
      color: #fff;
      font-family: $CONTENT;
      font-size: $small;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      text-shadow: 0 2px 4px rgba(0, 0, 0, .3);
      overflow: hidden;
      text-overflow: ellipsis;
      width: 150px;
      margin: 0;
      text-align: center;
      transform: rotate(45deg);
      position: absolute;
      top: 43px;
      left: 26px;
    }

    .ribbon {
      margin: -19px -7px 0 0;
    }

    .ribbon-stars {
      position: absolute;
      left: 109px;
      top: 25px;
      transform: rotate(45deg);
    }

    .star {
      width: 23px;
    }
  }

  .no-jackpot-remark {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: $BLUE;
    margin-bottom: 5px;
  }

  .no-jackpot {
    font-family: "Open Sans", sans-serif;
    color: $BLUE;
    font-size: $small;
    font-weight: bold;
    position: absolute;
    right: -6px;
    top: -3px;
  }

  @media (max-width: 320px) {
    .ribbon-wrapper {
      top: -12px;

      .ribbon-text {
        cursor: pointer;
        top: 47px;
        left: 30px;
      }
    }
  }
}


