@import '../../../../scss/vars';

/* Scroll */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #DADADA;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #DADADA;
}

.modal-dialog {
  &.signup {
    .container-scrolable {
      padding-right: 0;
      border-radius: 0 3px 0 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

.modal-content.scroll {
  position: relative;
}

.modal-header {
  text-transform: none;
}

.modal-content {
  overflow-y: auto;
}

@media (max-width: 767px) {
  .modal-content {
    overflow-x: hidden;
  }
}

/* Safari 10.1+ only override */

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .signup .modal-content {
      height: 86vh !important;
    }

    ::-webkit-scrollbar {
      width: 0;
    }
  }
}

/* Safari 9.0-10.0 only override */

_::-webkit-:not(:root:root), .signup .modal-content {
  height: 86vh !important;
}
_::-webkit-:not(:root:root), ::-webkit-scrollbar {
  width: 0;
}
