<div class="container responsible-gaming-component">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title" itemprop="name">Player Protection</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        At BigLotteryOWin we like to dream big but we also like to be responsible and we have a responsibility with the protection of
        our players.
      </p>
      <p>
        We are partnered with charitable organizations and we are also committed to managing player protection in the
        following ways:
      </p>
      <h2>Age Verification</h2>
      <p>
        You may only use the Services if you are 18 years old. You must confirm at the point of registration your age.
        Additionally, BigLotteryOWin reserves the right to request proof of age at any stage, to verify that you over above the legal
        age of 18.
      </p>
      <p>
        We encourage our customer to prevent minors from accessing gambling websites. We recommend the software,
        such as the following, to restrict internet access to any minors within their care:
      </p>
      <p>
        <a href="https://www.netnanny.com/" target="_blank" title="www.netnanny.com">www.netnanny.com</a><br>
        <a href="http://www.safekids.com/" target="_blank" title="www.safekids.com">www.safekids.com</a><br>
        <a href="https://www.cyberpatrol.com/" target="_blank" title="www.cyberpatrol.com">www.cyberpatrol.com</a><br>
        <a href="http://www.gamblock.com/" target="_blank" title="www.gamblock.com">www.gamblock.com</a><br>
      </p>
      <h2>Deposit Limits</h2>
      <p>
        You can set your own deposit limits in the My Account Section
        <a routerLink="/myaccount/details" title="here">here</a>. Once you have logged in and chosen your limit
        the system will prevent you from depositing further during the period you have chosen. If you would like to discuss
        your deposit limits further, please contact customer support
        <a routerLink="/about/contact" title="here">here</a>.
      </p>
      <h2>Take a Break</h2>
      <p>
        If you are looking to take a short break, for whatever reason, from biglotteryowin.com we can suspend your account. The
        Take a Break periods are 24 hours, 48 hours, 1, 2, 3 or 4 weeks.
      </p>
      <p>
        Take a Break cannot be reversed and your account will not be accessible until the chosen period has ended. Please
        advised of this before you utilize this service.
      </p>
      <p>
        If you feel the need to take a break from biglotteryowin.com you can do so by contacting our team of trained support staff
        <a routerLink="/about/contact" title="here">here</a>. Please be advised you must confirm your identity to allow us to manage
        this request for you. Additionally, if you would like to Take a Break you can yourself
        <a routerLink="/myaccount/details" title="here">here</a>.
        <strong>Please be reminded this is not reversible.</strong>
      </p>
      <h2>Self-Assessment:</h2>
      <ol>
        <li>Did you ever lose time from work or school due to gambling?</li>
        <li>Has gambling ever made your home life unhappy?</li>
        <li>Did gambling affect your reputation?</li>
        <li>Have you ever felt remorse after gambling?</li>
        <li>Did you ever gamble to get money with which to pay debts or otherwise solve financial difficulties?</li>
        <li>Did gambling cause a decrease in your ambition or efficiency?</li>
        <li>After losing did you feel you must return as soon as possible and win back your losses?</li>
        <li>After a win did you have a strong urge to return and win more?</li>
        <li>Did you often gamble until your last dollar was gone?</li>
        <li>Did you ever borrow to finance your gambling?</li>
        <li>Have you ever sold anything to finance gambling?</li>
        <li>Were you reluctant to use &quot;gambling money&quot; for normal expenditures?</li>
        <li>Did gambling make you careless of the welfare of yourself or your family?</li>
        <li>Did you ever gamble longer than you had planned?</li>
        <li>Have you ever gambled to escape worry, trouble, boredom, loneliness, grief or loss?</li>
        <li>Have you ever committed, or considered committing, an illegal act to finance gambling?</li>
        <li>Did gambling cause you to have difficulty in sleeping?</li>
        <li>Do arguments, disappointments or frustrations create within you an urge to gamble?</li>
        <li>Did you ever have an urge to celebrate any good fortune by a few hours of gambling?</li>
        <li>Have you ever considered self-destruction or suicide as a result of your gambling?</li>
      </ol>
      <h2>Self-Exclusion</h2>
      <p>
        If you require a longer break than the Take a Break option, or if you feel you have a serious gambling problem we
        also offer you the option of Self-Exclusion. The Self-Exclusion periods are 6 months, 1, 3 and 5 years. During Self-
        Exclusion, we will stop sending marketing emails. When the chosen period has elapsed, you must contact Customer
        Support
        <a routerLink="/about/contact" title="here">here</a> to reactivate your account. This can take up to 24
        hours and may require further investigation from biglotteryowin.com.
      </p>
      <p>
        In addition, we would always recommend taking the time to read our
        <a routerLink="/about/terms-and-conditions" title="Terms &amp; Conditions">Terms &amp; Conditions</a> and
        <a routerLink="/about/privacy" title="Privacy Policy">Privacy Policy</a> to keep
        yourself fully informed of how the site operates.
      </p>
      <p>
        If you would like an immediate Self-Exclusion you can do this yourself
        <a routerLink="/myaccount/details" title="here">here</a>.
        <strong>Please be reminded this is not reversible</strong>.
      </p>
    </div>
  </div>
</div>
