@import '../../../../../../../scss/vars';

$default-padding: 0.6rem;

.offer-combo-box {
  width: 300px;
  height: 340px;
  border: 1px solid #e3e3e3;
  padding: 45px 15px 0 15px;
  text-align: center;

  .title {
    font-size: 20px;
  }

  .content {

    .logo {
      width: 85px;
      height: 85px;
    }

    .content-text-wrapper {
      margin-left: 15px;

      .content-text {
        font-size: 14px;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .sub-content {

    .navigation-btn {
      padding: 11px;
      border-radius: 0;
      width: 100%;
    }

    .sub-content-text {
      line-height: 24px;
      margin: 5px 0;
      min-height: 48px;

      .old-price {
        font-size: 14px;
        color: $GRAY-LIGHT;
      }

      .price {
        font-size: 16px;
        color: $GREEN;

        &:only-child {
          line-height: 40px;
          margin: 0;
          position: relative;
          top: -5px;
        }
      }
    }
  }
}
