.blog-paginator {
  padding: 20px 0 0 0;

  span {
    display: inline-flex;
    margin: 0 2px 0 0;
    text-decoration: none;
    width: 30px;
    height: 30px;
    color: #fff;
    background: #555;
    font-size: 12px;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: #3279BB;
    }
  }
}
